
body{
    opacity: 90%;
    background-color: rgba(6, 6, 6, 0.94);
    color: white;
}
.heading{
    text-decoration: none;
    color:rgb(191, 191, 231); width:850px;text-decoration: none; 
}
.main-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
}

.alt{
    font-weight: 300px;
}
header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 15px;
     margin-top: 10px;
}

#one{
    font-size: 20px;
    color: white;
    
}
img{
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}
.ci{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(250, 243, 243, 0.105);
}
.name{
    color:  rgb(193, 193, 241);
}
.cost{
    color:  rgb(142, 142, 146);
}
.cart-align{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    /* margin-bottom: 0px; */
    width: 600px;
    display: flex;
}
.background{
    margin-left: 2px;
    border: 1px solid rgba(250, 243, 243, 0.105);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    background-color:rgba(250, 243, 243, 0.021);
}
.f-button{
    
    border-radius: 5px;
    color: white;
    background-color: red;
    padding: 5px 20px;
    width: 220px;
    margin-top: 50px;
    margin-left: 50px;
}


